<form>
  <span>
    <input type = "text" name = "username" value = {{rusername}}>username</input>
    <input type = "text" name = "password" value = {{rpassword}}>password</input>
    <input type = "text" name = "name" value = {{rname}}>name</input>
    <input type = "radio" name = "male" value = {{rmale}}>Male</input>
    <input type = "radio" name = "female" value = {{rfemale}}>Female</input>
    <input type = "radio" name = "other" value = {{rother}}>Other</input>
    <input type = "submit" value = "Submit"></input>
  </span>
</form>
