<h2>Create project</h2>

<!-- Part 2: Create project -->
<form method = "POST" action = "/new">
    <input type = "text" name = "title" value = {{project.title}}></input>
    <input type = "text" name = "goal" value = {{project.goal}}></input>
    <textarea name = "description" rows = "4" cols = "50" value = {{project.description}}></textarea>
    <input type = "text" name = "start" value = {{project.start}}></input>
    <input type = "text" name = "end" value = {{project.end}}></input>
</form>


<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
