<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <p>First Name: {{firstName}}</p>
      <p>Middle Initial: {{middleInitial}}</p>
      <p>Last Name: {{lastName}}</p>
      <p>DOB: {{dateOfBirth}}</p>
      <p>Password: {{password}}</p>
      <p>Gender: {{gender}}</p>
      <p>Signed up for newsletter</p>
      <p>Biography: {{bio}}</p>
    </div>
  </div>
</body>
</html>
